<h2>Recipes</h2>

<ul class="recipes">
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>"><%= recipe.title %> / </a>
      <%= recipe.description %> /
      servings: <%= recipe.servings %> /
      <a href="/recipes/<%= recipe.id %>/edit">Edit /</a>
      <form action="/recipes/<%= recipe.id %>/delete" method="post">
        <input type='submit' value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<a class="btn" href="/recipes/new">Add Recipe</a>